{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block body %}
    <h1>Joueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Date_creation</th>
                <th>Date_maj</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.id }}</td>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.prenom }}</td>
                <td>{{ joueur.pseudo }}</td>
                <td>{{ joueur.dateCreation ? joueur.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ joueur.dateMaj ? joueur.dateMaj|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_joueur_show', {'id': joueur.id}) }}">show</a>
                    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_joueur_new') }}">Create new</a>
{% endblock %}
